<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AlarmHMI/src/com/rti/medical/ICEAlarmDisplayApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="/media/sf_rose3/rti/linux/RTI/ndds.5.1.0/lib/x64Linux3.xgcc4.6.3jdk"/>
<mapEntry key="NDDSHOME" value="/media/sf_rose3/rti/linux/RTI/ndds.5.1.0"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rti.medical.ICEAlarmDisplayApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AlarmHMI"/>
</launchConfiguration>
